In [1]:
import pandas as pd
import numpy as np
from sister.modules.penilaian.models import PenilaianPembelajaran
from sister.modules.kurikulum.enums import KompetensiInti
pn = PenilaianPembelajaran.objects.get(id="46ec09e1-7bb4-4d1d-8546-e39c62ebd78d")

def print_nilai(nilai):
    print('Kompetensi:')
    print('   ' + str(nilai['kompetensi']))
    print('Nilai:')
    print('   ' + str(nilai['score']))
    print('Predikat')
    print('   ' + nilai['predikat']['mutu'] + '  (' + nilai['predikat']['predikat'].title() + ')')
    print('Deskripsi:')
    print('   ' + nilai['deskripsi'])
    print('Rekomendasi:')
    print('   ' + nilai['rekomendasi'])
    print(pn.nilai_pengetahuan['data'].transpose().to_dict().items())

In [2]:
print_nilai(pn.nilai_spiritual)

Kompetensi:
   None
Nilai:
   0
Predikat
   U  (Belum Teridentifikasi)
Deskripsi:
   Ananda masih perlu penilaian.
Rekomendasi:
   Ananda masih perlu penilaian.
dict_items([])

In [3]:
print_nilai(pn.nilai_sosial)

Kompetensi:
   None
Nilai:
   0
Predikat
   U  (Belum Teridentifikasi)
Deskripsi:
   Ananda masih perlu penilaian.
Rekomendasi:
   Ananda masih perlu penilaian.
dict_items([])

In [4]:
nilai = pn.nilai_pengetahuan
print_nilai(nilai)

Kompetensi:
   Mengingat dan memahami pengetahuan faktual dan konsep Pendidikan Agama Islam
Nilai:
   0
Predikat
   U  (Belum Teridentifikasi)
Deskripsi:
   Ananda masih perlu penilaian.
Rekomendasi:
   Ananda masih perlu penilaian.
dict_items([])

In [5]:
print_nilai(pn.nilai_keterampilan)

Kompetensi:
   Menyajikan pengetahuan dan keterampilan dalam pembelajaran Pendidikan Agama Islam
Nilai:
   0
Predikat
   U  (Belum Teridentifikasi)
Deskripsi:
   Ananda masih perlu penilaian.
Rekomendasi:
   Ananda masih perlu penilaian.
dict_items([])

In [6]:
pd.DataFrame(columns=('id', 'keyword', 'tgs', 'ph', 'pts', 'pas',
        'ki', 'kd', 'x_tg', 'x_ph', 'x_pts', 'x_pas',))

Empty DataFrame
Columns: [id, keyword, tgs, ph, pts, pas, ki, kd, x_tg, x_ph, x_pts, x_pas]
Index: []