In [3]:
import pandas as pd
import numpy as np
from sister.modules.penilaian.models import PenilaianPembelajaran
from sister.modules.kurikulum.enums import KompetensiInti
pn = PenilaianPembelajaran.objects.all()[0]

pn.metode.nilai_pengetahuan

,id,keyword,ki,kd,x_tg,x_ph,x_pts,x_pas,v_tg,v_ph,v_pts,v_pas,total,mutu,predikat,deskripsi
0,5c7b0f4d-c1b7-423d-b67f-9946de370b4b,menjalankan Ibadah,3,1,70,None,None,None,7.0,0,0,0,7.0,E,sangat kurang,sangat kurang dalam menjalankan Ibadah

In [2]:
pn.metode.nilai_keterampilan

Empty DataFrame
Columns: [id, keyword, ki, kd, x_tg, x_ph, x_pts, x_pas, v_tg, v_ph, v_pts, v_pas, total, mutu, predikat, deskripsi]
Index: []